<!DOCTYPE html>
<html>
  <head>
    <title>Checklist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  </head>

  <body>

    <header class="navbar  navbar-light" style="background-color: #d5dcfc;">
    <div class="navbar-class">
      <div class="container">

        <ul class="nav navbar-nav">
          <li><%=link_to "Home", root_path%></li>
          <% if user_signed_in? %>
            <li><%=link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%=link_to "Sign Up", new_user_registration_path%></li>
            <li><%=link_to "Log In", new_user_session_path %></li>
          <% end %>
        </ul>
        <% if user_signed_in? %>
          <%= link_to "New Item", new_item_path, class: "navbar-text navbar-link navbar-right" %>
        <% end %>
      </div>

      <div class="background">
      <img src="<%= asset_path 'mech.png' %>">
   </div>

 </div>
</header>



    <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

<div class="container">
    <%= yield %>
  </div>
  </body>
</html>
